/metrics_checkpoints/*
/actual_model/*

# Удалить папки с изображениями повреждний дорожного покрытия, оставив несколько файлов для примера

/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/*
!/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/104___video_only_img001.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/104___video_only_img1884.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/104___video_only_img11241.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/104___video_only_img11368.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_imgs/104___video_only_img15564.png

/imgs/Road_defects/PNG/FULL_SIZE/def_masks/*
!/imgs/Road_defects/PNG/FULL_SIZE/def_masks/104___video_only_img001.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_masks/104___video_only_img1884.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_masks/104___video_only_img11241.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_masks/104___video_only_img11368.png
!/imgs/Road_defects/PNG/FULL_SIZE/def_masks/104___video_only_img15564.png

/imgs/Road_defects/PNG/augmentated/augmentated_imgs/*
!/imgs/Road_defects/PNG/augmentated/augmentated_imgs/AUG_IM_104___video_only_img001.png
!/imgs/Road_defects/PNG/augmentated/augmentated_imgs/AUG_IM_104___video_only_img1884.png
!/imgs/Road_defects/PNG/augmentated/augmentated_imgs/AUG_IM_104___video_only_img11241.png
!/imgs/Road_defects/PNG/augmentated/augmentated_imgs/AUG_IM_104___video_only_img11368.png
!/imgs/Road_defects/PNG/augmentated/augmentated_imgs/AUG_IM_104___video_only_img15564.png

/imgs/Road_defects/PNG/augmentated/augmentated_masks/*
!/imgs/Road_defects/PNG/augmentated/augmentated_masks/AUG_IM_104___video_only_img001.png
!/imgs/Road_defects/PNG/augmentated/augmentated_masks/AUG_IM_104___video_only_img1884.png
!/imgs/Road_defects/PNG/augmentated/augmentated_masks/AUG_IM_104___video_only_img11241.png
!/imgs/Road_defects/PNG/augmentated/augmentated_masks/AUG_IM_104___video_only_img11368.png
!/imgs/Road_defects/PNG/augmentated/augmentated_masks/AUG_IM_104___video_only_img15564.png

/imgs/Road_defects/PNG/imgs/*
!/imgs/Road_defects/PNG/imgs/104___video_only_img001.png
!/imgs/Road_defects/PNG/imgs/104___video_only_img1884.png
!/imgs/Road_defects/PNG/imgs/104___video_only_img11241.png
!/imgs/Road_defects/PNG/imgs/104___video_only_img11368.png
!/imgs/Road_defects/PNG/imgs/104___video_only_img15564.png

/imgs/Road_defects/PNG/masks/*
!/imgs/Road_defects/PNG/masks/104___video_only_img001.png
!/imgs/Road_defects/PNG/masks/104___video_only_img1884.png
!/imgs/Road_defects/PNG/masks/104___video_only_img11241.png
!/imgs/Road_defects/PNG/masks/104___video_only_img11368.png
!/imgs/Road_defects/PNG/masks/104___video_only_img15564.png

/imgs/Road_defects/PNG/road_imgs/*
!/imgs/Road_defects/PNG/road_imgs/104___video_only_img001.png
!/imgs/Road_defects/PNG/road_imgs/104___video_only_img1884.png
!/imgs/Road_defects/PNG/road_imgs/104___video_only_img11241.png
!/imgs/Road_defects/PNG/road_imgs/104___video_only_img11368.png
!/imgs/Road_defects/PNG/road_imgs/104___video_only_img15564.png

/imgs/Road_defects/PNG/val_imgs/*
!/imgs/Road_defects/PNG/val_imgs/104___video_only_img15579.png.png

/imgs/Road_defects/PNG/val_masks/*
!/imgs/Road_defects/PNG/val_masks/104___video_only_img15579.png


# Удалить папки с .npy изображениями повреждний дорожного покрытия, оставив несколько файлов для примера

/imgs/Road_defects/NPY/np_imgs/*
!/imgs/Road_defects/NPY/np_imgs/104___video_only_img001.npy
!/imgs/Road_defects/NPY/np_imgs/104___video_only_img1884.npy
!/imgs/Road_defects/NPY/np_imgs/104___video_only_img11241.npy
!/imgs/Road_defects/NPY/np_imgs/104___video_only_img11368.npy
!/imgs/Road_defects/NPY/np_imgs/104___video_only_img15564.npy

/imgs/Road_defects/NPY/np_masks/*
!/imgs/Road_defects/NPY/np_masks/104___video_only_img001.npy
!/imgs/Road_defects/NPY/np_masks/104___video_only_img1884.npy
!/imgs/Road_defects/NPY/np_masks/104___video_only_img11241.npy
!/imgs/Road_defects/NPY/np_masks/104___video_only_img11368.npy
!/imgs/Road_defects/NPY/np_masks/104___video_only_img15564.npy

/imgs/Road_defects/NPY/val_np_imgs/*
!/imgs/Road_defects/NPY/val_np_imgs/104___video_only_img15579.npy

/imgs/Road_defects/NPY/val_np_masks/*
!/imgs/Road_defects/NPY/val_np_masks/104___video_only_img15579.npy


# Удалить папки с изображениями дорожного покрытия, оставив несколько файлов для примера

/imgs/Road_surface/PNG/augmentated/augmentated_images/*
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img001.png
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img135.png
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img1884.png
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img11241.png
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img11368.png
!/imgs/Road_surface/PNG/augmentated/augmentated_images/aug_104___video_only_img15564.png

/imgs/Road_surface/PNG/augmentated/augmentated_masks/*
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img001.png
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img135.png
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img1884.png
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img11241.png
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img11368.png
!/imgs/Road_surface/PNG/augmentated/augmentated_masks/aug_104___video_only_img15564.png

/imgs/Road_surface/PNG/imgs/*
!/imgs/Road_surface/PNG/imgs/104___video_only_img001.png
!/imgs/Road_surface/PNG/imgs/104___video_only_img135.png
!/imgs/Road_surface/PNG/imgs/104___video_only_img1884.png
!/imgs/Road_surface/PNG/imgs/104___video_only_img11241.png
!/imgs/Road_surface/PNG/imgs/104___video_only_img11368.png
!/imgs/Road_surface/PNG/imgs/104___video_only_img15564.png

/imgs/Road_surface/PNG/masks/*
!/imgs/Road_surface/PNG/masks/104___video_only_img001.png
!/imgs/Road_surface/PNG/masks/104___video_only_img135.png
!/imgs/Road_surface/PNG/masks/104___video_only_img1884.png
!/imgs/Road_surface/PNG/masks/104___video_only_img11241.png
!/imgs/Road_surface/PNG/masks/104___video_only_img11368.png
!/imgs/Road_surface/PNG/masks/104___video_only_img15564.png

/imgs/Road_surface/PNG/val_imgs/*
!/imgs/Road_surface/PNG/val_imgs/104___video_only_img15588.png

/imgs/Road_surface/PNG/val_masks/*
!/imgs/Road_surface/PNG/val_masks/104___video_only_img15588.png


# Удалить папки с .npy изображениями дорожного покрытия, оставив несколько файлов для примера

/imgs/Road_surface/NPY/np_imgs/*
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img001.npy
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img135.npy
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img1884.npy
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img11241.npy
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img11368.npy
!/imgs/Road_surface/NPY/np_imgs/104___video_only_img15564.npy

/imgs/Road_surface/NPY/np_masks/*
!/imgs/Road_surface/NPY/np_masks/104___video_only_img001.npy
!/imgs/Road_surface/NPY/np_masks/104___video_only_img135.npy
!/imgs/Road_surface/NPY/np_masks/104___video_only_img1884.npy
!/imgs/Road_surface/NPY/np_masks/104___video_only_img11241.npy
!/imgs/Road_surface/NPY/np_masks/104___video_only_img11368.npy
!/imgs/Road_surface/NPY/np_masks/104___video_only_img15564.npy

/imgs/Road_surface/NPY/val_np_imgs/*
!/imgs/Road_surface/NPY/val_np_imgs/104___video_only_img15588.npy

/imgs/Road_surface/NPY/val_np_masks/*
!/imgs/Road_surface/NPY/val_np_masks/104___video_only_img15588.npy